body {
  background: white;
}

.app {
  text-align: center;
  background: deepskyblue;
  height: 100vh;
}

header {
  height: 40px;
  background: hotpink;
  padding: 10px;
  margin-bottom: 20px;
}

.nav {
  display: inline-block;
  padding: 5px 15px;
  background: white;
}

.icon {
  line-height: 40px;
}

footer {
  background: deeppink;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}


/* Commented out animation for later reference */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
